/* ===========================
   Local Fonts - Poppins & Google Sans Code
   =========================== */

/* --------- Poppins --------- */
@font-face {
	font-family: 'Poppins';
	src: url('./Poppins-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('./Poppins-ThinItalic.woff2') format('woff2');
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: 'Poppins';
	src: url('./Poppins-ExtraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('./Poppins-ExtraLightItalic.woff2') format('woff2');
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: 'Poppins';
	src: url('./Poppins-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('./Poppins-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Poppins';
	src: url('./Poppins-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('./Poppins-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Poppins';
	src: url('./Poppins-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('./Poppins-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Poppins';
	src: url('./Poppins-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('./Poppins-SemiBoldItalic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Poppins';
	src: url('./Poppins-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('./Poppins-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Poppins';
	src: url('./Poppins-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('./Poppins-ExtraBoldItalic.woff2') format('woff2');
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: 'Poppins';
	src: url('./Poppins-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('./Poppins-BlackItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}

/* --------- Google Sans Code --------- */
@font-face {
	font-family: 'Google Sans Code';
	src: url('./GoogleSansCode-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Google Sans Code';
	src: url('./GoogleSansCode-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Google Sans Code';
	src: url('./GoogleSansCode-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Google Sans Code';
	src: url('./GoogleSansCode-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}
