/* RESET */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* GLOBAL STYLES */

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  background: #f6f6f6;
  color: #333;
}

header {
  padding: 2rem;
  background: #222;
  color: white;
}

main {
  padding: 2rem;
}
